doctype html
-var url = '/utilities/' + target

body
    h3 Choose Your Playlist
    div
        form(action=url method="get") 
            select(name='id', id='slct')
                each playlist in playlists
                    option(value=playlist.id, label=playlist.name) #{playlist.name}
                input(type='submit', value='Submit')