doctype html
-var url = '/utilities/' + target
head
    script
        include ../safariDropdown.js
body
    h3 Choose Your Playlist
    div
        form(action=url method="get") 
            select(name='id', id='slct')
                option(value="null", label="Pick a Playlist", selected="selected", hidden)
                each playlist in playlists
                    option(value=playlist.id, label=playlist.name)
                input(type='submit', value='Submit')