doctype html
h3 Choose Your Playlist
-var url = '/utilities/' + target
div
    form(action=url method="get") 
        select(name='id', id='')
            each playlist in playlists
                option(value=playlist.id, label=playlist.name)
            input(type='submit', value='Submit')


select
    option(value='hey', label='Hey')
    option(value="ho", label="Ho")