doctype html
div
    form(action='/utilities/songidlookup' method="get") 
        label(for="ids") Track Id(s):
        input(type='text', name="ids", id='idsInput')
        input(type='submit', value='Submit')