doctype html
head
    style
        include style.css
body
    ul
        li
            a(href="/utilities/me") /me
        li
            a(href="/utilities/topsongsparams") /topsongs
        li
            a(href="/utilities/topsongscombined") /topsongscombined
        li
            a(href="/utilities/allsongs") /allsongs
        li
            a(href="/utilities/pickplaylist?target=allplaylistsongs") /allsongsofplaylist
        li
            a(href="/utilities/pickplaylist?target=playlistchosen") /shuffleplaylist
        li
            a(href="/utilities/pickplaylist?target=uploadcover") /uploadcover
        li
            a(href="/utilities/songids") /tracklookupfromids
        li
            a(href="/utilities/recengine1") /mytoptracksrecommendationswithsimilarfeatures
        li
            a(href="/utilities/recengine2") /mytopartiststopsongsrecommendations